.card {
  position: relative;
  width: 140px;
  height: 90px;
  padding: 15px;
  background-color: #201f1d;
  color: #dddcdc;
}

.text {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 15px;
  line-height: 15px;
}

.mark {
  color: #dddcdc;
  z-index: 1;
}

.mark::before {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  top: 49.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(213, 17, 17);
  z-index: -1;
}
